<h1><%= @restaurant.name %></h1>
<% @reviews.each do |review| %>
  <p><%= review.rating %><%= review.content %></p>
  <hr>
<% end %>

<h1>Write a review!</h1>
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :rating, input_html: { autocomplete: 'off' } %>
  <%= f.input :content, input_html: { autocomplete: 'off' } %>
  <%= f.submit %>
<% end %>
